<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뷰 기초 익히기</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>


<body>
    <div id="app">
        <div v-for="(person, index) in people" key="person.id">
            {{ person.name }} {{ person.age }} {{ index + 1 + '번째'}}
        </div>


        <ul id="v-for-ojbect" classs="demo">
            <li v-for="value in object">
                {{ value }}
            </li>
        </ul>

        <div v-for="(value, name) in object">
            {{ name }} : {{ value }}
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
               people: [
                    { id: 1, name: 'a', age: 20},
                    { id: 2, name: 'b', age: 21},
                    { id: 3, name: 'c', age: 22},
                    { id: 4, name: 'd', age: 24},
               ],

               object: {
                   title: 'How to do lists in Vue',
                   author: 'Jane Doe',
                   publishedAt: '2016-04-10'
               }
            },
            methods: {
               
            },


        })

    </script>

</body>

</html>